@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@100;300;400;700&display=swap);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

.header {
	position: fixed;
	height: 80px;
	width: 100%;
	z-index: 100;
	padding: 0 20px;
	/*background-color: #C6A969;*/
}

.nav {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
}

.nav,
.nav_items {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}

.nav_link,
.nav_logo,
.button {
	color: #fff;
}

.nav_logo {
	font-size: 25px;
}

.nav_item {
	column-gap: 25px;
}

.nav_item {
	color: #fff;
}

.nav_link:hover{
	color: #d9d9d9;
}

.button {
	padding: 6px 24px;
	border: 2px solid #fff;
	background: transparent;
	border-radius: 6px;
	cursor: pointer;
}

.button:active {
	transform: scale(0.98);
}

.beranda {
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url('https://wallpapercave.com/wp/UvpC1jt.jpg');
	background-size: cover;
	background-position: center;
}

.form_container {
	position: absolute;
	max-width: 320px;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 101;
	background: #fff; 
	padding: 25px;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.1);
}

.daftar_form {
	display: none;
}

.form_close {
	position: absolute;
	top: 10px;
	right: 20px;
	color: #0b0217;
	font-size: 22px;
	opacity: 0.7;
	cursor: pointer;
}

.form_container h2{
	font-size: 22px;
	color: #0b0217;
	text-align: center;
}

.input_box {
	position: relative;
	margin-top: 30px;
	width: 100%;
	height: 40px;
}

.input_box input,
.input_box select {
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	padding: 0 30px;
	color: #333;
	transition: all 0.2s ease;
	border-bottom: 1.5px solid #aaaaaa;
}

.input_box input:focus,
.input_box select:focus {
	border-color: #65451F;
}

.input_box i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.input_box i.user,
.input_box i.email,
.input_box i.password {
	left: 0;
	color: #707070;
}


.input_box input:focus ~ i.user,
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
	color: #65451F;
}

.input_box i.pw_hide {
	right: 0;
	font-size: 18px;
}

.option_field {
	margin-top: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.form_container a{
	color: #65451F;
	font-size: 14px;
}

.form_container a:hover{
	text-decoration: underline;
}

.forgot_pw {
	display: flex;
	white-space: nowrap;
}

.form_container .button {
	background: #65451F;
	margin-top: 30px;
	width: 100%;
	padding: 10px 0;
	border-radius: 10px;
}

.daftar {
	font-size: 14px;
	text-align: center;
	margin-top: 15px;
}